.bagWrapper{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 9998;
}
.bagBlock{
    width: 500px;
    height: 100vh;
    background-color: #fff;
    padding: 15px;
    position: absolute;
    top: 0;
    right: -500px;
    z-index: 9999;
    transition: 0.2s;
}
.showBag{
    right: 0;
}
.bagHead{
    display: flex;
    justify-content: space-between;
}
.bagCount{
    display: flex;
    align-items: center;
}
.bagBlock h3{
    font-size: 28px;
}
.bagCount div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--black);
    border-radius: 50%;
}
.bagClose h3{
    cursor: pointer;
}
