.giftPageWrapper{
    display: flex;
    flex-flow: row wrap;
    padding: 25px;
}
.imageBlock{
    flex-basis: 60%;
}
.contentBlock{
    flex-basis: 40%;
}
.title{
    text-transform: uppercase;
    font-size: 36px;
    color: var(--black);
}
.description{
    font-size: 18px;
    color: #b0b0b0;
}
.price{
    font-size: 32px;
}

.count{
    font-size: 18px;

}
.count span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.count .plus{
    background-color: #120C32;
    border-top-right-radius: 10px;
    color: white;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.count .minus{
    background-color: #fff;
    color: #120C32;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.count .result{
    font-weight: 800;
    font-size: 24px;
    min-width: 50px;
}

.addButton button{
    background-color: #120C32;
    border:none;
    padding: 15px 30px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 22px;
    width: 100%;
    margin-top: 50px;
}
.addButton button:hover{
    background-color: var(--second-color);
    color: #120C32;
}
.categoryList{
    flex-direction: column;
    color: #444444;
}
.categoryList li{

    align-self: flex-start;
    cursor: pointer;
}

