.navbar{
    background-color: var(--black);
    color: #fff;
    padding: 8px;
    display: flex;
    justify-content: center;
}
.navbar ul{
    gap: 0 20px;
}
.navbar ul li {
    cursor: pointer;
    letter-spacing: 2px;
    padding: 0 15px;
    transition: 0.2s;
}

.navbar li:hover:not(.active){
    color: var(--main-color);
}
.active{
    color: var(--second-color);
    filter:drop-shadow(1px 1px 2px var(--second-color)) ;
}